.chartBox {
  height: 300px;
 }
 
 #input-group{
     padding-top: 25px;
     padding-left: 5px;
     padding-bottom: 25px;
 }
 
 table {
     border-collapse: collapse;
     border-radius: 5px;
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
     overflow: hidden;
     font-family: "Quicksand", sans-serif;
     font-weight: bold;
     font-size: 14px;
   }
   
   th {
     background: #009578;
     color: #ffffff;
     text-align: left;
   }
   
   th,
   td {
     padding: 10px 20px;
   }
   
   tr:nth-child(even) {
     background: #eeeeee;
   }
   
   .buttons {
     width: 150px;
   }
 
   .hide{
     display: none;
     }
 /* 
 about */
 body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   }
   
   html {
   box-sizing: border-box;
   }
   
   *, *:before, *:after {
   box-sizing: inherit;
   }
   
   .column {
   float: left;
   width: 33.3%;
   margin-bottom: 16px;
   padding: 0 8px;
   }
   
   .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin: 8px;
   }
   
   .about-section {
   padding: 50px;
   text-align: center;
   background-color: #474e5d;
   color: white;
   }
   
   .container {
   padding: 0 16px;
   }
   
   .container::after, .row::after {
   content: "";
   clear: both;
   display: table;
   }
   
   .title {
   color: grey;
   }
   
   .button {
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   }
   
   .button:hover {
   background-color: #555;
   }
   
   @media screen and (max-width: 650px) {
   .column {
   width: 50%;
   display: block;
     }
   }
 
   #wrapper {
     display: flex;
   }
   
   #left {
     flex: 0 0 65%;
   }
   
   #right {
     flex: 1;
   }
 
   #csvtable {
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .chartBox {
    height: 300px;
   }
   
   #input-group{
       padding-top: 25px;
       padding-left: 5px;
       padding-bottom: 25px;
   }
   
   table {
       border-collapse: collapse;
       border-radius: 5px;
       box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
       overflow: hidden;
       font-family: "Quicksand", sans-serif;
       font-weight: bold;
       font-size: 14px;
     }
     
     th {
       background: #009578;
       color: #ffffff;
       text-align: left;
     }
     
     th,
     td {
       padding: 10px 20px;
     }
     
     tr:nth-child(even) {
       background: #eeeeee;
     }
     
     .buttons {
       width: 150px;
     }
   
     .hide{
       display: none;
       }
   /* 
   about */
   body {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     }
     
     html {
     box-sizing: border-box;
     }
     
     *, *:before, *:after {
     box-sizing: inherit;
     }
     
     .column {
     float: left;
     width: 33.3%;
     margin-bottom: 16px;
     padding: 0 8px;
     }
     
     .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     margin: 8px;
     }
     
     .about-section {
     padding: 50px;
     text-align: center;
     background-color: #474e5d;
     color: white;
     }
     
     .container {
     padding: 0 16px;
     }
     
     .container::after, .row::after {
     content: "";
     clear: both;
     display: table;
     }
     
     .title {
     color: grey;
     }
     
     .button {
     border: none;
     outline: 0;
     display: inline-block;
     padding: 8px;
     color: white;
     background-color: #000;
     text-align: center;
     cursor: pointer;
     width: 100%;
     }
     
     .button:hover {
     background-color: #555;
     }
     
     @media screen and (max-width: 650px) {
     .column {
     width: 50%;
     display: block;
       }
     }
   
     #wrapper {
       display: flex;
     }
     
     #left {
       flex: 0 0 65%;
     }
     
     #right {
       flex: 1;
     }
   
     #csvtable {
       display: flex;
       justify-content: center;
       align-items: center;
     }
   